version: '3.9'
services:
  redis:
    image: redis:7
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    command: gunicorn crm.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ../.env
    environment:
      DJANGO_DB_ENGINE: sqlite
    volumes:
      - ../backend:/app
    depends_on:
      - redis
    ports:
      - "8000:8000"
  celery:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    command: celery -A crm worker -l info
    env_file:
      - ../.env
    environment:
      DJANGO_DB_ENGINE: sqlite
    volumes:
      - ../backend:/app
    depends_on:
      - redis
  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "5173:5173"
